<% provide :title, t("views.session.new.title_login") %>
<div class="row">
  <div class="col-md-offset-5 col-md-3">
    <div class="form-login">
    <h4><%= t "views.session.new.title_login" %></h4>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, class: 'form-control input-sm chat-input',
        placeholder: t("views.session.new.placeholder_email") %>
      </br>
      <%= f.password_field :password, class: 'form-control input-sm chat-input',
        placeholder: t("views.session.new.placeholder_pass") %>
      </br>
      <div class="wrapper">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t "views.session.new.remember" %></span>
      <% end %>
      </div>
      <div class="wrapper">
      <span class="group-btn">
        <%= f.submit t("views.session.new.title_login"),
          class: "btn btn-primary btn-md" %>
      </span>
      <p>New user? <%= link_to t("views.session.new.bt_signup_now"),
        signup_path %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>