<li id="comments-<%= comment.id %>">
  <%= link_to image_tag(comment.user.avatar, class: "media-object",
  size: Settings.max_size_avatar_show_review),
  comment.user, :class => "pull-left" %>
  <span class="user"><%= t "views.comments.comment.title_comment" %>
    <%= link_to comment.user.name, comment.user %></span>
  <span class="body" id="comment_content-<%= comment.id %>">
    <%= comment.content %>
  </span>
  <span class="timestamp">
  <% if current_user?(comment.user) %>
    <%= link_to edit_book_review_comment_path(@book, comment.review_id,
    comment.id), remote: true, :class => "btn btn-warning" do %>
      <i class="glyphicon glyphicon-pencil">
        <%= t "views.comments.comment.edit_bt"%>
      </i>
    <% end %> 
   <% end %>
  <% if current_user?(comment.user) %>
    <%= link_to book_review_comment_path(@book.id, comment.review_id,
    comment.id), remote: true, method: :delete,
    data: { confirm: t("views.comments.comment.confirm_del") },
    :class => "btn btn-danger" do %>
      <i class="glyphicon glyphicon-trash">
        <%= t "views.comments.comment.del_bt"%>
      </i>
    <% end %>
  <% end %>
  </span>
  <span class="timestamp">
    <%= t "views.comments.comment.time_post"%> 
    <%= time_ago_in_words(comment.created_at) %> 
    <%= t "views.comments.comment.ago"%>
  </span>
</li>