<div class="row profile">
  <div class="col-md-3">
    <%= render partial: "shared/user_info", locals: {user: @user} %>
  </div>
  <div class="col-md-9">
    <div class="row clearfix show_follow">
      <div class="col-md-12 column">
        <div class="tabbable" id="tabs-444468">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#panel-list-reviews" data-toggle="tab">
                <%= t "views.users.show.list_reviews"%>
              </a>
            </li>
            <li>
              <a href="#panel-list-farorite-book" data-toggle="tab">
                <%= t "views.users.show.list_favorite"%>
              </a>
            </li>
            <li>
              <a href="#panel-list-read-book" data-toggle="tab">
                <%= t "views.users.show.list_read"%>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-list-reviews">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <% @reviews.each do |review| %>
                  <div class="media">
                    <%= link_to image_tag(review.user.avatar,
                      class: "media-object",
                      size: Settings.max_size_avatar_show_review),
                      review.user, :class => "pull-left" %>
                    <div class="media-body">
                      <h4 class="media-heading"><%= t "views.users.show.title"%><%= review.title %></h4>
                      <p><%= t "views.users.show.content"%></p>
                      <p><%= simple_format review.content %></p>
                      <ul class="list-inline list-unstyled">
                        <li>
                          <span>
                            <i class="glyphicon glyphicon-calendar"></i>
                            <%= "#{review.created_at}" %>
                          </span>
                        </li>
                        <% if logged_in? %>
                          <li>|</li>
                          <span id="like-form-<%= review.id %>">
                            <% unless current_user.liking?(review, Settings.action_type_review)%>
                              <%= render partial: "shared/like", locals: {object: review} if logged_in?%>
                            <% else %>
                              <%= render partial: "shared/dislike", locals: {object: review} if logged_in?%>
                            <% end %>
                          </span>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
                <%= will_paginate @reviews %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="panel-list-farorite-book">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <% @books.each do |book| %>
                  <%= render partial: "shared/list_book", locals: {book: book} %>
                <% end %>
                <%= will_paginate @reviews %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="panel-list-read-book">
            <div class="row clearfix">
              <div class="col-md-12 column">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
