<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= link_to get_image_user(user, "img-responsive"), user %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= user.name %>
    </div>
    <div class="profile-usertitle-email">
      <%= user.email %>
    </div>
  </div>
  <% if logged_in? %>
    <%= render partial: "shared/follow_form", locals: {user: user} %>
    <div class="profile-user-send-request">
      <button type="button" class="btn btn-info btn-sm">Send Request</button>
    </div>
  <% end %>
  <%= render partial: "shared/stats", locals: {user: user} %>
</div>
