<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= link_to get_image_user(user, "img-responsive"), user %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= user.name %>
    </div>
    <div class="profile-usertitle-email">
      <%= user.email %>
    </div>
  </div>
  <% if logged_in? %>
    <%= render partial: "shared/follow_form", locals: {user: user} %>
    <% if current_user? user %>
      <%= form_for current_user, html: {multipart: true} do |f| %>
        <div class="profile-user-send-request">
          <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", class: "btn btn-info btn-sm" %>
          <%= f.submit t("views.users.show.update_image_bt") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= render partial: "shared/stats", locals: {user: user} %>
</div>
