<div class="row">
  <section class="content">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-filter" data-target="sent">Sent</button>
              <button type="button" class="btn btn-success btn-filter" data-target="approved">Approved</button>
              <button type="button" class="btn btn-warning btn-filter" data-target="pending">Pending</button>
              <button type="button" class="btn btn-danger btn-filter" data-target="reject">Reject</button>
              <button type="button" class="btn btn-default btn-filter" data-target="all">History</button>
            </div>
          </div>
          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                <% @requests.each do |request| %>
                  <% if request.status == "sent" %>
                    <tr data-status="sent">
                      <td>
                        <div class="media">
                          <%= link_to image_tag(request.user.avatar, class: "media-object",
                            size: Settings.size_image_avatar_request), request.user,
                            class: "pull-left" %>
                            <span class="media-meta pull-right"><%= request.created_at %></span>
                            <h4 class="title">
                              <%= request.book_title %>
                              <% if current_user.check_request request%>
                                <%= link_to t("views.requests.history.bt_cancel"),
                                  user_request_path(request.user, request), remote: true, method: :delete,
                                  data: { confirm: t("views.reviews.review.confirm_del") } %>
                              <% end %>
                              <span class="pull-right sent">(sent)</span>
                            </h4>
                            <p class="summary"><%= request.content %></p>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <% if request.status == "pending" %>
                    <tr data-status="pending">
                      <td>
                        <div class="media">
                          <%= link_to image_tag(request.user.avatar, class: "media-object",
                            size: Settings.size_image_avatar_request), request.user,
                            class: "pull-left" %>
                            <span class="media-meta pull-right"><%= request.created_at %></span>
                            <h4 class="title">
                              <%= request.book_title %>
                              <span class="pull-right pending">(pending)</span>
                            </h4>
                            <p class="summary"><%= request.content %></p>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <% if request.status == "approved" %>
                    <tr data-status="approved">
                      <td>
                        <div class="media">
                          <%= link_to image_tag(request.user.avatar, class: "media-object",
                            size: Settings.size_image_avatar_request), request.user,
                            class: "pull-left" %>
                            <span class="media-meta pull-right"><%= request.created_at %></span>
                            <h4 class="title">
                              <%= request.book_title %>
                              <span class="pull-right approved">(approved)</span>
                            </h4>
                            <p class="summary"><%= request.content %></p>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <% if request.status == "reject" %>
                    <tr data-status="reject">
                      <td>
                        <div class="media">
                          <%= link_to image_tag(request.user.avatar, class: "media-object",
                            size: Settings.size_image_avatar_request), request.user,
                            class: "pull-left" %>
                            <span class="media-meta pull-right"><%= request.created_at %></span>
                            <h4 class="title">
                              <%= request.book_title %>
                              <span class="pull-right reject">(reject)</span>
                            </h4>
                            <p class="summary"><%= request.content %></p>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
