<div class="media">
  <h1><%= t "admin.all_request" %></h1>
  <div class="media-body">
    <table border="1">
      <thead>
      <tr>
        <th><%= t "admin.user_id" %></th>
        <th><%= t "admin.titlebook_request" %></th>
        <th><%= t "admin.content_request" %></th>
        <th><%= t "admin.status_request" %></th>
      </tr>
      </thead>
      <tbody>
        <tr><td>asdf</td>
          <td>asdf</td>
          <td>asdf</td>
          <td>asdf</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>