<%= will_paginate @users %>
<% @users.each do |user| %>
  <div class="well">
    <div class="media">
      <%= link_to get_image_user(user, "media-object"), user, class: "pull-left" %>
      <div class="media-body">
        <p><%= user.name %></p>
        <p><%= user.email %></p>
        <p><%= link_to t("admin.detail_user"), [:admin, user] %></p>
        <% if user.activated? %>
          <p><%= link_to "Ban User", [:admin, user], method: :put, remote: true %></p>
        <% else %>
          <p><%= link_to "Unban User", [:admin, user], method: :put, remote: true %></p>
        <% end %>
        <%= link_to t("admin.delete"), [:admin, user], method: :delete, data: {confirm: t("admin.are_you_sure")} %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
<%= will_paginate @users %>
