<div class="masthead">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
              <h1><%= t "layout_slide.title" %></h1>
              <h3><%= t "layout_slide.content_title" %></h3>
            </hgroup>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">        
            <hgroup>
              <h1><%= t "layout_slide.we_are_smart" %></h1>
              <h3><%= t "layout_slide.get_start" %></h3>
            </hgroup>       
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">        
            <hgroup>
              <h1><%= t "layout_slide.we_are_amazing" %></h1>
              <h3><%= t "layout_slide.content" %></h3>
            </hgroup>
          </div>
        </div>
      </div> 
    </div>
  </div>